@model PermissionTaskWithMVC.Models.LoginModel;

@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="text-primary">Login</h1><br />
    <div class="row">
        <div class="col"></div>
        <div class="col" style="border-radius:10px; background-color:cadetblue">
            <br />
            <form asp-action="ValidatePass" asp-controller="Login" method="post">
                <input asp-for="id" placeholder="Enter Id" class="form-control"/>
                <br />
                <input asp-for="password" placeholder="Enter Password" class="form-control" />
                <br />
                <input type="submit" value="SUBMIT" class="btn btn-outline-light">
            </form>
            <br />
        </div>
        <div class="col"></div>
    </div>
</div>
