@model PermissionTaskWithMVC.Models.UserViewModel;

@{
    ViewData["Title"] = "edit_personal_details";
}
<body onload="fillData()">
    <div class="container">
        <h1 style="color:blueviolet" class="text-center">Edit Personal Details</h1>

        <form>
            <div class="row">
                <div class="col">
                    <input asp-for="id" id="id" hidden />
                    <label asp-for="first_name">Name</label>
                    <input asp-for="first_name" id="name" placeholder="Enter Name" class="form-control" />
                </div>
                <div class="col">
                    <label asp-for="last_name">Surname</label>
                    <input asp-for="last_name" id="surname" placeholder="Enter Surname" class="form-control" />
                </div>
                <div class="col">

                    <label asp-for="age">Age</label>
                    <input asp-for="age" id="age" placeholder="Enter Age" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="gender" value="Male" />
                        <label class="form-check-label" asp-for="gender">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="gender" value="Female" />
                        <label class="form-check-label" asp-for="gender">
                            Female
                        </label>
                    </div>
                </div>
                <div class="col">

                    <label asp-for="phone_no">Contact Number</label>
                    <input asp-for="phone_no" id="no" placeholder="Enter Contact No." class="form-control" />
                </div>
                <div class="col">
                    <label asp-for="email">E-mail</label>
                    <input asp-for="email" id="email" placeholder="Enter E-mail" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <label asp-for="password">Password</label>
                    <input asp-for="password" id="pass" placeholder="Enter Password" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col"></div>
                <div class="col text-center">
                    <input type="button" value="SUBMIT" onclick="submitForm()" class="btn btn-outline-primary" />
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</body>
<script>
    let role_id = 0
    async function fillData() {
        let response = await fetch("https://localhost:7110/api/User/" + @ViewBag.id);
        let data = await response.json();
        document.getElementById("name").value = data.first_name;
        document.getElementById("surname").value = data.last_name;
        document.getElementById("age").value = data.age;
        document.getElementById("no").value = data.phone_no;
        document.getElementById("email").value = data.email;
        role_id = data.role;
        document.getElementById("pass").value = data.password
        let genderEle = document.getElementsByName("gender");
        for (let i = 0; i < genderEle.length; i++) {
            if (genderEle[i].value == data.gender) {
                genderEle[i].checked = true;
            }
        }
    }

    async function submitForm() {
        let response = await fetch("https://localhost:7110/api/User/" + document.getElementById("id").value + "?first_name=" + document.getElementById("name").value + "&last_name=" + document.getElementById("surname").value + "&age=" + document.getElementById("age").value + "&gender=" + document.getElementById("gender").value + "&phone_no=" + document.getElementById("no").value + "&email=" + document.getElementById("email").value + "&role=" + role_id + "&password=" + document.getElementById("pass").value, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (response.ok) {
            alert("Data Updated Successfully!");
            window.location.href = window.location.origin;
        }
        else {
            alert("OPPS, Something Went Wrong!");
        }
    }
</script>